# fairseq2==0.1.0

# Temp to skip
git+https://github.com/mduppes/fairseq2.git@93420c86ba01349ee8f90d7adda439b666b50557
# git+https://github.com/facebookresearch/seamless_communication
./seamless_communication
# comment this out to test fairseq1 first
# git+https://github.com/facebookresearch/SimulEval.git
gradio==3.41.0
huggingface_hub==0.16.4
torch==2.0.1
torchaudio==2.0.2
transformers==4.32.1
pydub


# Can't import fairseq1 together.. causes conflict:
#The conflict is caused by:
#    The user requested simuleval 1.1.0 (from git+ssh://****@github.com/facebookresearch/SimulEval.git@tree_pipeline)
#    seamless-communication 1.0.0 depends on simuleval 1.0.3.dev36+gd84fa60 (from git+https://github.com/mduppes/SimulEval.git@main)
# From fairseq1 pipeline
# git+ssh://git@github.com/fairinternal/fairseq-py.git@emma_incremental_decoder
# git+ssh://git@github.com/facebookresearch/SimulEval.git@tree_pipeline